-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: copo_vision
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `academic_years`
--

DROP TABLE IF EXISTS `academic_years`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `academic_years` (
  `academic_year_id` int NOT NULL AUTO_INCREMENT,
  `year_name` varchar(20) NOT NULL,
  PRIMARY KEY (`academic_year_id`),
  UNIQUE KEY `year_name` (`year_name`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `academic_years`
--

LOCK TABLES `academic_years` WRITE;
/*!40000 ALTER TABLE `academic_years` DISABLE KEYS */;
INSERT INTO `academic_years` VALUES (1,'2025-2026'),(2,'2026-2027');
/*!40000 ALTER TABLE `academic_years` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alerts`
--

DROP TABLE IF EXISTS `alerts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alerts` (
  `alert_id` int NOT NULL AUTO_INCREMENT,
  `student_id` int NOT NULL,
  `faculty_id` int DEFAULT NULL,
  `alert_type` varchar(50) NOT NULL,
  `co_id` int DEFAULT NULL,
  `po_id` int DEFAULT NULL,
  `message` text NOT NULL,
  `severity` enum('low','medium','high') DEFAULT 'medium',
  `is_read` tinyint(1) DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`alert_id`),
  KEY `student_id` (`student_id`),
  KEY `faculty_id` (`faculty_id`),
  KEY `co_id` (`co_id`),
  KEY `po_id` (`po_id`),
  CONSTRAINT `alerts_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `students` (`student_id`),
  CONSTRAINT `alerts_ibfk_2` FOREIGN KEY (`faculty_id`) REFERENCES `users` (`user_id`),
  CONSTRAINT `alerts_ibfk_3` FOREIGN KEY (`co_id`) REFERENCES `course_outcomes` (`co_id`),
  CONSTRAINT `alerts_ibfk_4` FOREIGN KEY (`po_id`) REFERENCES `program_outcomes` (`po_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4264 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alerts`
--

LOCK TABLES `alerts` WRITE;
/*!40000 ALTER TABLE `alerts` DISABLE KEYS */;
/*!40000 ALTER TABLE `alerts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `assessment_co_mapping`
--

DROP TABLE IF EXISTS `assessment_co_mapping`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `assessment_co_mapping` (
  `assessment_co_id` int NOT NULL AUTO_INCREMENT,
  `assessment_id` int NOT NULL,
  `co_id` int NOT NULL,
  `max_marks_for_co` decimal(6,2) NOT NULL DEFAULT '0.00',
  PRIMARY KEY (`assessment_co_id`),
  UNIQUE KEY `assessment_id` (`assessment_id`,`co_id`),
  KEY `co_id` (`co_id`),
  CONSTRAINT `assessment_co_mapping_ibfk_1` FOREIGN KEY (`assessment_id`) REFERENCES `assessments` (`assessment_id`),
  CONSTRAINT `assessment_co_mapping_ibfk_2` FOREIGN KEY (`co_id`) REFERENCES `course_outcomes` (`co_id`)
) ENGINE=InnoDB AUTO_INCREMENT=161 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assessment_co_mapping`
--

LOCK TABLES `assessment_co_mapping` WRITE;
/*!40000 ALTER TABLE `assessment_co_mapping` DISABLE KEYS */;
/*!40000 ALTER TABLE `assessment_co_mapping` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `assessments`
--

DROP TABLE IF EXISTS `assessments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `assessments` (
  `assessment_id` int NOT NULL AUTO_INCREMENT,
  `subject_id` int NOT NULL,
  `assessment_name` varchar(100) NOT NULL,
  `assessment_type` varchar(50) NOT NULL,
  `max_marks` decimal(6,2) NOT NULL,
  `assessment_date` date DEFAULT NULL,
  PRIMARY KEY (`assessment_id`),
  KEY `subject_id` (`subject_id`),
  CONSTRAINT `assessments_ibfk_1` FOREIGN KEY (`subject_id`) REFERENCES `subjects` (`subject_id`)
) ENGINE=InnoDB AUTO_INCREMENT=65 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assessments`
--

LOCK TABLES `assessments` WRITE;
/*!40000 ALTER TABLE `assessments` DISABLE KEYS */;
/*!40000 ALTER TABLE `assessments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `co_attainment`
--

DROP TABLE IF EXISTS `co_attainment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `co_attainment` (
  `co_attainment_id` int NOT NULL AUTO_INCREMENT,
  `student_id` int NOT NULL,
  `co_id` int NOT NULL,
  `attainment_percentage` decimal(6,2) NOT NULL,
  `attainment_level` decimal(3,1) DEFAULT NULL,
  `calculated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`co_attainment_id`),
  UNIQUE KEY `student_id` (`student_id`,`co_id`),
  KEY `co_id` (`co_id`),
  CONSTRAINT `co_attainment_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `students` (`student_id`),
  CONSTRAINT `co_attainment_ibfk_2` FOREIGN KEY (`co_id`) REFERENCES `course_outcomes` (`co_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9601 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `co_attainment`
--

LOCK TABLES `co_attainment` WRITE;
/*!40000 ALTER TABLE `co_attainment` DISABLE KEYS */;
/*!40000 ALTER TABLE `co_attainment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `co_po_mapping`
--

DROP TABLE IF EXISTS `co_po_mapping`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `co_po_mapping` (
  `mapping_id` int NOT NULL AUTO_INCREMENT,
  `co_id` int NOT NULL,
  `po_id` int NOT NULL,
  `mapping_level` decimal(3,2) NOT NULL,
  PRIMARY KEY (`mapping_id`),
  UNIQUE KEY `co_id` (`co_id`,`po_id`),
  KEY `po_id` (`po_id`),
  CONSTRAINT `co_po_mapping_ibfk_1` FOREIGN KEY (`co_id`) REFERENCES `course_outcomes` (`co_id`),
  CONSTRAINT `co_po_mapping_ibfk_2` FOREIGN KEY (`po_id`) REFERENCES `program_outcomes` (`po_id`),
  CONSTRAINT `co_po_mapping_chk_1` CHECK (((`mapping_level` >= 0) and (`mapping_level` <= 3)))
) ENGINE=InnoDB AUTO_INCREMENT=226 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `co_po_mapping`
--

LOCK TABLES `co_po_mapping` WRITE;
/*!40000 ALTER TABLE `co_po_mapping` DISABLE KEYS */;
/*!40000 ALTER TABLE `co_po_mapping` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `course_outcomes`
--

DROP TABLE IF EXISTS `course_outcomes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `course_outcomes` (
  `co_id` int NOT NULL AUTO_INCREMENT,
  `subject_id` int NOT NULL,
  `co_code` varchar(20) NOT NULL,
  `co_description` text NOT NULL,
  `target_attainment_level` decimal(3,1) DEFAULT '2.0',
  PRIMARY KEY (`co_id`),
  UNIQUE KEY `subject_id` (`subject_id`,`co_code`),
  CONSTRAINT `course_outcomes_ibfk_1` FOREIGN KEY (`subject_id`) REFERENCES `subjects` (`subject_id`)
) ENGINE=InnoDB AUTO_INCREMENT=49 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `course_outcomes`
--

LOCK TABLES `course_outcomes` WRITE;
/*!40000 ALTER TABLE `course_outcomes` DISABLE KEYS */;
/*!40000 ALTER TABLE `course_outcomes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `courses`
--

DROP TABLE IF EXISTS `courses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `courses` (
  `course_id` int NOT NULL AUTO_INCREMENT,
  `department_id` int NOT NULL,
  `course_code` varchar(30) NOT NULL,
  `course_name` varchar(150) NOT NULL,
  `duration_years` int DEFAULT '4',
  PRIMARY KEY (`course_id`),
  UNIQUE KEY `course_code` (`course_code`),
  KEY `department_id` (`department_id`),
  CONSTRAINT `courses_ibfk_1` FOREIGN KEY (`department_id`) REFERENCES `departments` (`department_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `courses`
--

LOCK TABLES `courses` WRITE;
/*!40000 ALTER TABLE `courses` DISABLE KEYS */;
INSERT INTO `courses` VALUES (1,1,'BTECH-CS','Bachelor of Technology in Cyber Security',4);
/*!40000 ALTER TABLE `courses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departments`
--

DROP TABLE IF EXISTS `departments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `departments` (
  `department_id` int NOT NULL AUTO_INCREMENT,
  `department_code` varchar(20) NOT NULL,
  `department_name` varchar(100) NOT NULL,
  PRIMARY KEY (`department_id`),
  UNIQUE KEY `department_code` (`department_code`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departments`
--

LOCK TABLES `departments` WRITE;
/*!40000 ALTER TABLE `departments` DISABLE KEYS */;
INSERT INTO `departments` VALUES (1,'CSE-CS','Computer Science and Engineering - Cyber Security');
/*!40000 ALTER TABLE `departments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `po_attainment`
--

DROP TABLE IF EXISTS `po_attainment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `po_attainment` (
  `po_attainment_id` int NOT NULL AUTO_INCREMENT,
  `student_id` int NOT NULL,
  `po_id` int NOT NULL,
  `attainment_percentage` decimal(6,2) NOT NULL,
  `attainment_level` decimal(3,1) DEFAULT NULL,
  `calculated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`po_attainment_id`),
  UNIQUE KEY `student_id` (`student_id`,`po_id`),
  KEY `po_id` (`po_id`),
  CONSTRAINT `po_attainment_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `students` (`student_id`),
  CONSTRAINT `po_attainment_ibfk_2` FOREIGN KEY (`po_id`) REFERENCES `program_outcomes` (`po_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2001 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `po_attainment`
--

LOCK TABLES `po_attainment` WRITE;
/*!40000 ALTER TABLE `po_attainment` DISABLE KEYS */;
/*!40000 ALTER TABLE `po_attainment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prediction_models`
--

DROP TABLE IF EXISTS `prediction_models`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `prediction_models` (
  `model_id` int NOT NULL AUTO_INCREMENT,
  `model_name` varchar(100) NOT NULL,
  `algorithm` varchar(100) NOT NULL,
  `version` varchar(30) DEFAULT NULL,
  `accuracy` decimal(6,2) DEFAULT NULL,
  `trained_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`model_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prediction_models`
--

LOCK TABLES `prediction_models` WRITE;
/*!40000 ALTER TABLE `prediction_models` DISABLE KEYS */;
INSERT INTO `prediction_models` VALUES (1,'CO-PO Attainment Predictor','Linear Regression','1.0',41.66,'2026-08-21 03:59:13'),(3,'CO-PO Attainment Predictor','Linear Regression','1.0',99.93,'2026-09-17 07:26:11'),(4,'CO-PO Attainment Predictor','Linear Regression','1.0',90.60,'2026-09-18 05:50:48');
/*!40000 ALTER TABLE `prediction_models` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `predictions`
--

DROP TABLE IF EXISTS `predictions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `predictions` (
  `prediction_id` int NOT NULL AUTO_INCREMENT,
  `student_id` int NOT NULL,
  `model_id` int NOT NULL,
  `predicted_co_attainment` decimal(6,2) DEFAULT NULL,
  `predicted_po_attainment` decimal(6,2) DEFAULT NULL,
  `prediction_status` varchar(50) DEFAULT NULL,
  `predicted_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `co_id` int DEFAULT NULL,
  `po_id` int DEFAULT NULL,
  `subject_id` int DEFAULT NULL,
  `academic_year_id` int DEFAULT NULL,
  PRIMARY KEY (`prediction_id`),
  KEY `student_id` (`student_id`),
  KEY `model_id` (`model_id`),
  KEY `fk_pred_co` (`co_id`),
  KEY `fk_pred_po` (`po_id`),
  KEY `fk_pred_subject` (`subject_id`),
  KEY `fk_pred_year` (`academic_year_id`),
  CONSTRAINT `fk_pred_co` FOREIGN KEY (`co_id`) REFERENCES `course_outcomes` (`co_id`),
  CONSTRAINT `fk_pred_po` FOREIGN KEY (`po_id`) REFERENCES `program_outcomes` (`po_id`),
  CONSTRAINT `fk_pred_subject` FOREIGN KEY (`subject_id`) REFERENCES `subjects` (`subject_id`),
  CONSTRAINT `fk_pred_year` FOREIGN KEY (`academic_year_id`) REFERENCES `academic_years` (`academic_year_id`),
  CONSTRAINT `predictions_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `students` (`student_id`),
  CONSTRAINT `predictions_ibfk_2` FOREIGN KEY (`model_id`) REFERENCES `prediction_models` (`model_id`)
) ENGINE=InnoDB AUTO_INCREMENT=201 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `predictions`
--

LOCK TABLES `predictions` WRITE;
/*!40000 ALTER TABLE `predictions` DISABLE KEYS */;
/*!40000 ALTER TABLE `predictions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `program_outcomes`
--

DROP TABLE IF EXISTS `program_outcomes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `program_outcomes` (
  `po_id` int NOT NULL AUTO_INCREMENT,
  `po_code` varchar(20) NOT NULL,
  `po_description` text NOT NULL,
  `target_attainment_level` decimal(3,1) DEFAULT '2.0',
  PRIMARY KEY (`po_id`),
  UNIQUE KEY `po_code` (`po_code`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `program_outcomes`
--

LOCK TABLES `program_outcomes` WRITE;
/*!40000 ALTER TABLE `program_outcomes` DISABLE KEYS */;
/*!40000 ALTER TABLE `program_outcomes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `program_specific_outcomes`
--

DROP TABLE IF EXISTS `program_specific_outcomes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `program_specific_outcomes` (
  `pso_id` int NOT NULL AUTO_INCREMENT,
  `course_id` int NOT NULL,
  `pso_code` varchar(20) NOT NULL,
  `pso_description` text NOT NULL,
  PRIMARY KEY (`pso_id`),
  UNIQUE KEY `course_id` (`course_id`,`pso_code`),
  CONSTRAINT `program_specific_outcomes_ibfk_1` FOREIGN KEY (`course_id`) REFERENCES `courses` (`course_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `program_specific_outcomes`
--

LOCK TABLES `program_specific_outcomes` WRITE;
/*!40000 ALTER TABLE `program_specific_outcomes` DISABLE KEYS */;
/*!40000 ALTER TABLE `program_specific_outcomes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_marks`
--

DROP TABLE IF EXISTS `student_marks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_marks` (
  `mark_id` int NOT NULL AUTO_INCREMENT,
  `student_id` int NOT NULL,
  `assessment_co_id` int NOT NULL,
  `marks_obtained` decimal(6,2) NOT NULL,
  PRIMARY KEY (`mark_id`),
  UNIQUE KEY `student_id` (`student_id`,`assessment_co_id`),
  KEY `assessment_co_id` (`assessment_co_id`),
  CONSTRAINT `student_marks_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `students` (`student_id`),
  CONSTRAINT `student_marks_ibfk_2` FOREIGN KEY (`assessment_co_id`) REFERENCES `assessment_co_mapping` (`assessment_co_id`)
) ENGINE=InnoDB AUTO_INCREMENT=16001 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_marks`
--

LOCK TABLES `student_marks` WRITE;
/*!40000 ALTER TABLE `student_marks` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_marks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_subject_enrollment`
--

DROP TABLE IF EXISTS `student_subject_enrollment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_subject_enrollment` (
  `enrollment_id` int NOT NULL AUTO_INCREMENT,
  `student_id` int NOT NULL,
  `subject_id` int NOT NULL,
  `academic_year_id` int NOT NULL,
  `is_repeat` tinyint(1) NOT NULL DEFAULT '0',
  `enrolled_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`enrollment_id`),
  UNIQUE KEY `unique_enrollment` (`student_id`,`subject_id`,`academic_year_id`),
  KEY `subject_id` (`subject_id`),
  KEY `academic_year_id` (`academic_year_id`),
  CONSTRAINT `student_subject_enrollment_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `students` (`student_id`),
  CONSTRAINT `student_subject_enrollment_ibfk_2` FOREIGN KEY (`subject_id`) REFERENCES `subjects` (`subject_id`),
  CONSTRAINT `student_subject_enrollment_ibfk_3` FOREIGN KEY (`academic_year_id`) REFERENCES `academic_years` (`academic_year_id`)
) ENGINE=InnoDB AUTO_INCREMENT=801 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_subject_enrollment`
--

LOCK TABLES `student_subject_enrollment` WRITE;
/*!40000 ALTER TABLE `student_subject_enrollment` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_subject_enrollment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `students`
--

DROP TABLE IF EXISTS `students`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `students` (
  `student_id` int NOT NULL AUTO_INCREMENT,
  `enrollment_no` varchar(50) NOT NULL,
  `student_name` varchar(150) NOT NULL,
  `course_id` int NOT NULL,
  `academic_year_id` int NOT NULL,
  PRIMARY KEY (`student_id`),
  UNIQUE KEY `enrollment_no` (`enrollment_no`),
  KEY `course_id` (`course_id`),
  KEY `academic_year_id` (`academic_year_id`),
  CONSTRAINT `students_ibfk_1` FOREIGN KEY (`course_id`) REFERENCES `courses` (`course_id`),
  CONSTRAINT `students_ibfk_2` FOREIGN KEY (`academic_year_id`) REFERENCES `academic_years` (`academic_year_id`)
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `students`
--

LOCK TABLES `students` WRITE;
/*!40000 ALTER TABLE `students` DISABLE KEYS */;
/*!40000 ALTER TABLE `students` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subject_co_attainment`
--

DROP TABLE IF EXISTS `subject_co_attainment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subject_co_attainment` (
  `subject_co_attainment_id` int NOT NULL AUTO_INCREMENT,
  `subject_id` int NOT NULL,
  `co_id` int NOT NULL,
  `academic_year_id` int NOT NULL,
  `total_students` int NOT NULL,
  `students_above_threshold` int NOT NULL,
  `pct_above_threshold` decimal(5,2) NOT NULL,
  `attainment_level` decimal(3,1) NOT NULL,
  `target_met` tinyint(1) NOT NULL DEFAULT '0',
  `calculated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`subject_co_attainment_id`),
  KEY `subject_id` (`subject_id`),
  KEY `co_id` (`co_id`),
  KEY `academic_year_id` (`academic_year_id`),
  CONSTRAINT `subject_co_attainment_ibfk_1` FOREIGN KEY (`subject_id`) REFERENCES `subjects` (`subject_id`),
  CONSTRAINT `subject_co_attainment_ibfk_2` FOREIGN KEY (`co_id`) REFERENCES `course_outcomes` (`co_id`),
  CONSTRAINT `subject_co_attainment_ibfk_3` FOREIGN KEY (`academic_year_id`) REFERENCES `academic_years` (`academic_year_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subject_co_attainment`
--

LOCK TABLES `subject_co_attainment` WRITE;
/*!40000 ALTER TABLE `subject_co_attainment` DISABLE KEYS */;
/*!40000 ALTER TABLE `subject_co_attainment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subject_po_attainment`
--

DROP TABLE IF EXISTS `subject_po_attainment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subject_po_attainment` (
  `subject_po_attainment_id` int NOT NULL AUTO_INCREMENT,
  `subject_id` int NOT NULL,
  `po_id` int NOT NULL,
  `academic_year_id` int NOT NULL,
  `attainment_level` decimal(3,1) NOT NULL,
  `target_met` tinyint(1) NOT NULL DEFAULT '0',
  `calculated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`subject_po_attainment_id`),
  KEY `subject_id` (`subject_id`),
  KEY `po_id` (`po_id`),
  KEY `academic_year_id` (`academic_year_id`),
  CONSTRAINT `subject_po_attainment_ibfk_1` FOREIGN KEY (`subject_id`) REFERENCES `subjects` (`subject_id`),
  CONSTRAINT `subject_po_attainment_ibfk_2` FOREIGN KEY (`po_id`) REFERENCES `program_outcomes` (`po_id`),
  CONSTRAINT `subject_po_attainment_ibfk_3` FOREIGN KEY (`academic_year_id`) REFERENCES `academic_years` (`academic_year_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subject_po_attainment`
--

LOCK TABLES `subject_po_attainment` WRITE;
/*!40000 ALTER TABLE `subject_po_attainment` DISABLE KEYS */;
/*!40000 ALTER TABLE `subject_po_attainment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subjects`
--

DROP TABLE IF EXISTS `subjects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subjects` (
  `subject_id` int NOT NULL AUTO_INCREMENT,
  `course_id` int NOT NULL,
  `subject_code` varchar(30) NOT NULL,
  `subject_name` varchar(150) NOT NULL,
  `semester` int NOT NULL,
  PRIMARY KEY (`subject_id`),
  KEY `course_id` (`course_id`),
  CONSTRAINT `subjects_ibfk_1` FOREIGN KEY (`course_id`) REFERENCES `courses` (`course_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subjects`
--

LOCK TABLES `subjects` WRITE;
/*!40000 ALTER TABLE `subjects` DISABLE KEYS */;
INSERT INTO `subjects` VALUES (1,1,'CS101','Quantum Computing',1),(2,1,'CS102','Data Structures',2),(3,1,'CS201','Database Management Systems',3),(4,1,'CS202','Computer Networks',4),(5,1,'CS301','Operating Systems',5),(6,1,'CS302','Cyber Security Fundamentals',6),(7,1,'CS401','Cyber Threat Intelligence',7),(8,1,'CS402','Ethical Hacking',8);
/*!40000 ALTER TABLE `subjects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `upload_batches`
--

DROP TABLE IF EXISTS `upload_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `upload_batches` (
  `upload_id` int NOT NULL AUTO_INCREMENT,
  `file_name` varchar(255) NOT NULL,
  `uploaded_by` int DEFAULT NULL,
  `records_processed` int DEFAULT '0',
  `status` enum('pending','processing','completed','failed') DEFAULT 'pending',
  `uploaded_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`upload_id`),
  KEY `uploaded_by` (`uploaded_by`),
  CONSTRAINT `upload_batches_ibfk_1` FOREIGN KEY (`uploaded_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=48 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `upload_batches`
--

LOCK TABLES `upload_batches` WRITE;
/*!40000 ALTER TABLE `upload_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `upload_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `user_id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `full_name` varchar(100) DEFAULT NULL,
  `role` enum('admin','faculty','hod') DEFAULT 'faculty',
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'faculty1','scrypt:32768:8:1$GeV9DrgW6KCEtuRS$5500740594dc5ea0e2c609b3818471ea982a19b131a9fe67f6b2d75bf356a530148634a25c6b49a33bed196efc379f246f0265b6fa84af3da5c94f2066e6204e','Demo Faculty','faculty',1,'2026-08-20 19:33:55');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-20 10:03:50
